body{
    margin: 0px;
    font-family:'Source Sans Pro', 'Helvetica neue', Arial, Helvetica, sans-serif;
    line-height: 1.42857143;
    background-color: lightgray;
    font-size: 14px;
    font-weight: 400;
}

h3{
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p{
    font-size: 15px;
    margin: 0 0 10px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

small{
    font-size: 15px;
    margin: 0 0 -5px;
}

.name h3{
    padding: 15px 15px 0 15px;
    position: relative;
    font-weight: 500;
    line-height: 1.1;
    font-size: 24px;
    margin: 0;

    
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .box{
        width: 23%;
        padding: 10px;
        color: white;
        margin: auto;


    }
    
        .box h3 {
                font-size: 38px;
                font-weight: bold;
                margin: 0 0 10px 0;
                white-space: nowrap;
                padding: 0;
            }

        .box p{
            font-size: 15px;
            margin: 0 0 -5px;
        }

        .box small{
            font-size: 85%;
        }

        .red{
            background-color: #dd4b39;  
        }
            
        .orange{

            background-color: #f39c12;
        }           

        .green{
            background-color: #00a65a;
        }

        .blue{
            background-color: #00c0ef;
        }


.header{
    margin: 0;
    padding: 25px;
    background-color: deepskyblue;
    margin: 0px;
    border: none;
    flex-wrap: wrap;
    position: relative;

}
.queue{
    width: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1px;
    position: relative;
}

.q-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    .q-box{
        display: flex;
        position: relative;
        border-radius: 3px;
        background-color:  white;
        border-top: 3px solid #d2d6de;
        border-bottom: 1px solid #f4f4f4;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
    }
        .q-box h3{
            display: inline-block;
            font-size: 18px;
            margin: 0;
            padding: 10px;
            line-height: 1;
            font-weight: 500;
            color: inherit;
        }
    
    .q-body{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 10px; 
        margin: 0;
        box-sizing: border-box;
        line-height: 20px;
        background-color: white;
        

    }
        .queueElement{
            margin:  auto ;
            margin-bottom: 15px;
            padding: 15px;
            width: 22%;
            background-color: #00a65a;
            display: flex;
            flex-direction: column;
            
        }

        .command{
            margin:  auto ;
            margin-bottom: 15px;
            padding: 15px;
            width: 22%;
            background-color: orange;
            display: flex;
            flex-direction: column;
        }

        .sla{
            margin:  auto ;
            margin-bottom: 15px;
            padding: 15px;
            width: 22%;
            background-color: red;
            display: flex;
            flex-direction: column;
        }

        .dueToday{
            margin:  auto ;
            margin-bottom: 15px;
            padding: 15px;
            width: 22%;
            background-color: green;
            display: flex;
            flex-direction: column;
        }

        .week4{
            margin:  auto ;
            margin-bottom: 15px;
            padding: 15px;
            width: 22%;
            background-color: skyblue;
            display: flex;
            flex-direction: column;
        }