.box{
    display: flex;
    flex-direction: row;
}

.red-box{
    width: 25%;
    padding: 10px;
    border: 1px solid black;
    background-color: red;
    color: white;
    
}

.orange-box{
    width: 25%;
    padding: 10px;
    border: 1px solid black;
    background-color: orangered;
    color: white;
}

.blue-box{
    width: 25%;
    padding: 10px;
    border: 1px solid black;
    background-color: cyan;
    
}

.green-box{
    width: 25%;
    padding: 10px;
    border: 1px solid black;
    background-color: greenyellow;
    
}
.header{
    margin: 0px;
    padding: 25px;
    background-color: deepskyblue;

}